body {
    font-family: Arial;
    background: #eef2f3;
}
.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
button {
    margin: 10px 0;
    padding: 8px 15px;
}
canvas {
    display: block;
    max-width: 100%;
    margin: 10px 0;
}
